:root {
}

.boton {
    align-content: flex-start;
    align-self: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    color: rgb(251, 247, 247);
}

.boton:hover {
    transition-duration: 0.5s;
    scale: 1.15 1.15;
}

.boton:active {
    transition-duration: 0.5s;
    -unity-background-image-tint-color: rgba(12, 11, 11, 0.47);
}
